.Header{
  height: 6rem;
  box-sizing: border-box;
  border-bottom: 1px #313131 solid;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-logo {
  animation: logo-scale infinite 3s linear alternate;
  height: 4rem;
  width: 4rem;
  color: #eee;
}

.Header-title {
  font-family: 'Irish Grover', cursive;
  font-size: 2.5em;
  margin: 0 2rem;
  color: #eee;
}

@keyframes logo-scale {
  from { transform: scale(.8,.8); }
  to { transform: scale(1.5,1.5); }
}
